// ==========================================================================
// ABSTRACTS / VARIABLES / #COLORS
// ==========================================================================

//
// Dark
//232832
$color-dark-01: #161719;
$color-dark-02: #212526;

//
// Black and white
//
$color-black: #000;
$color-white: #fff;

//
// Text
//
$default-text-color: #fff;
$form-control-text-color: #959ba0;

//
// Active
//
$color-active: #00ead2;

//
// Buttons
//
$color-bt-remove-light: #de718f;
$color-bt-remove-dark: #27181d;

$color-bt-add-light: #00ead2;
$color-bt-add-dark: #152826;

//
// Borders
//
$color-border-light: #323335;

//
// Tabs
//
$color-tab-disabled: #b1b4b9;
