// ==========================================================================
// COMPONENTS / #CONTENT BLOCK
// ==========================================================================

fieldset {
    margin: 0;
    padding: 0;
    border:none;

    legend {
        float: left;
        @include clearfix();
    };
};

label, legend {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 100%;
};

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0.5rem;
};

input {
    color-scheme: dark;

    &:-webkit-autofill, &:-webkit-autofill:focus, &:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 50px $color-dark-01 inset;
        box-shadow:  0 0 0 50px $color-dark-01 inset;

        background: $color-dark-01 !important;
        color: $form-control-text-color !important;
    };
};

textarea {
    resize: vertical;
    min-height: 150px;
    font: inherit;
};

.form-group {
    margin-bottom: 1rem;

    &--classes, &--paragraph {
        
        .form-control {
            margin-bottom:5px;

            &:last-of-type{
                margin-bottom: 1rem;
            };

        }; 
    };
};

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    
    font-size: 1rem;
    line-height: 1.5;

    color: $form-control-text-color;
    background: $color-dark-01;

    background-clip: padding-box;
    border: 1px solid $color-border-light;
    border-radius: $border-radius-small;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus{
        border-color: rgba($color-active, 0.7);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($color-active, 0.2);
    };
};

.form-check {
    float: left;

    &-input {
        float: left;
        margin: 0 0.5rem 0 0;
        width: 1rem;
        height: 1rem;
        vertical-align: top;
    };

    &:after {
        @include clearfix();
    };

    label {
        margin-bottom: 0;
    };
};