// ==========================================================================
// COMPONENTS / #TOGGLE SWITCH
// ==========================================================================

.toggle-switch {
    display: inline-block;
    cursor: pointer;

    input {
        display: none;

        & + span {
            // cursor: pointer;
            width: 48px;
            height: 28px;
            border-radius: 14px;
            transition: all .3s ease;
            display: inline-block;
            // display: block;
            position: relative;
            background: #454c5a;
            
            &:before{
                content: '';
                display: block;
                position: absolute;
                transition: all .3s ease;
                top: 5px;
                left: 5px;
                width: 18px;
                height: 18px;
                border-radius: 9px;
                border: 5px solid #fff;
            }

            &:active {
                transform: scale(.90);
            }
        }

        &:checked {
            & + span {
                background: $color-active;
                
                &:before {
                    left: 25px;
                    background: #fff;
                }
            }
        }

        &:not(:checked) {
            & + span {
                &:before {
                    background: #fff;
                }
            }
        }

        &:disabled {
            & + span {
                cursor: default;
                background: #282c34;

                &:before {
                    background: #282c34;
                    border-color: #aaa;
                }

                &:active {
                    transform: none;
                }
            }
        }
    }
}